/*--------------------------------------------------------------
# Allgemein
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;

}

main {
  display: block;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
  	margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background: rgba(0, 0, 128, 1);
    /* -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); /*
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.2); */
    /* -webkit-box-shadow: 0 1px 3px rgba(250,250,250,0.2);*/
    /* box-shadow: 0 1px 3px rgba(250,250,250,0.2);*/
}

.navbar-brand {

    font-family: "Montserrat", sans-serif;
    font-size:30px;
    color:#fff !important;
    letter-spacing: 0.5px;
    padding-left: 2.5rem;
    padding-right: 4.5rem;
}

.navbar-brand:hover{
    color: black !important;

}

.nav-link {
    font-family: "Montserrat", sans-serif;
    color: #fff !important;
    font-size:17px;
    margin: 0 1vw;
    font-weight: 500;
}

.nav-link:hover {
    color: #000 !important;
}


/*--------------------------------------------------------------
# Intro
--------------------------------------------------------------*/

#intro {
  padding: 200px 0 120px 0;
  background: #000080;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,1);
  box-shadow: 0 1px 3px rgba(0,0,0,1);
}

#intro, .intro-info h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
}

.btn-get-started, .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  margin: 0 20px 20px 0;
  color: #fff;
}

.btn-get-started, .btn-services {
  background: #000080;
  border: 2px solid #fff;
}

.btn-get-started:hover, .btn-services:hover {
  background: #000080;
  border-color: #007bff;
  color: #fff;
}

/*--------------------------------------------------------------
# Produkte
--------------------------------------------------------------*/

#produkte {
  margin-left: 20px;
  margin-right: 20px;
  text-align: inherit;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/
